!!!
%html
  %head
    %meta{ :'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title Welcome to our 100th Release Celebration.
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}/
    %script{:src => '/jquery-1.4.2.min.js'}
    %script{:src => "http://rightjs.org/hotlink/right.js"}
    %script{:src => '/release.js' }

%body
  = yield
